/magento/public/connect/package.xml
/magento/public/downloader/.cache
/magento/public/downloader/cache.cfg
/magento/public/downloader/connect.cfg
/magento/public/media
!/magento/public/media/_template
/magento/public/robots.txt
/magento/public/sitemap
/magento/app/etc/multiclient/*/local.xml
/magento/var
/vagrant/.vagrant

.DS_*
